In [98]:
from mplchart.samples import sample_prices

In [99]:
for freq in "daily", "hourly", "minute":
    prices = sample_prices(freq)
    index = prices.index
    print(freq, len(prices), index.dtype)

daily 10960 datetime64[ns]
hourly 3501 datetime64[ns, America/New_York]
minute 2670 datetime64[ns, America/New_York]

In [100]:
prices = sample_prices(freq="hourly")
prices

,open,high,low,close,volume
datetime,,,,,
2022-06-06 09:30:00-04:00,147.029999,148.440002,147.029999,148.210007,17131905
2022-06-06 10:30:00-04:00,148.210007,148.568893,146.009995,146.559097,10939649
2022-06-06 11:30:00-04:00,146.559998,146.800003,145.399994,145.580002,7207127
2022-06-06 12:30:00-04:00,145.580002,146.229996,145.199997,145.880096,6199590
2022-06-06 13:30:00-04:00,145.870102,146.889999,145.660004,145.759995,6957203
...,...,...,...,...,...
2024-06-04 10:30:00-04:00,194.024994,194.399994,193.660004,194.050003,5032304
2024-06-04 11:30:00-04:00,194.054993,194.490005,193.714996,194.470001,3593838
2024-06-04 12:30:00-04:00,194.470001,194.820007,194.339996,194.804993,3308960
2024-06-04 13:30:00-04:00,194.809998,195.320007,194.410004,195.235001,5053574
2024-06-04 14:30:00-04:00,195.229996,195.320007,194.479996,194.479996,2000123